<!-- UNAMBOS -->
<div class="col-md-6 col-lg-5 mb-4">
    <div class="card product-card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/UNAMBOS/1AC5FB34-76DA-4F0F-A67F-2814955D54AB.jpg" class="img-fluid rounded-start" alt="UNAMBOS-1">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span class="promo-tag">UNAMBOS</span>
                    <h5 class="card-title">Ambo Skin Flex de Mujer – Art 11020</h5>
                    <p class="card-text price">$99.000</p>
                    <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos nacionales $81.818</small></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <p></p>
                    <a href="#" class="btn btn-primary mt-2">Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-5 mb-4">
    <div class="card product-card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/UNAMBOS/1AFC96F8-CA42-44B1-8BD9-3AF00C137974.jpg" class="img-fluid rounded-start" alt="UNAMBOS-2">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span class="promo-tag">UNAMBOS</span>
                    <h5 class="card-title">Ambo Tencel EcoFlex de Mujer – Art 11019</h5>
                    <p class="card-text price">$108.000</p>
                    <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos nacionales $89.256</small></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <p></p>
                    <a href="#" class="btn btn-primary mt-2">Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>