<body>
    <div class="container-fluid mt-4 px-5">
        <div class="row">
            <!-- COLUMNA DE FILTROS -->
            <div class="col-md-3">
                <div class="filter-sidebar">
                    <h6>Ordenar por</h6>
                    <select class="form-select form-select-sm mb-3">
                        <option>Popular</option>
                        <option>Precio: menor a mayor</option>
                        <option>Precio: mayor a menor</option>
                        <option>Más recientes</option>
                    </select>

                    <h6>Filtrar para</h6>
                    <div class="d-flex flex-column">
                        <a href="#">Hombre</a>
                        <a href="#">Mujer</a>
                        <a href="#">Unisex</a>
                    </div>

                    <h6 class="mt-3">Filtrar por Talle</h6>
                    <select class="form-select form-select-sm mb-3">
                        <option>Todo</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>

                    <h6>Filtrar por Tipo</h6>
                    <div class="d-flex flex-column">
                        <a href="#">Manga 3/4</a>
                        <a href="#">Manga Corta</a>
                        <a href="#">Manga Larga</a>
                    </div>
                </div>
            </div>

            <!-- TARJETAS -->
            <div class="col-md-9">
                <div class="row">
                    <!-- TARJETAS DE 21 SEPTIEMBRE -->
                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">21 Septiembre</span>
                                    <img src="../../../assets/21-Septiembre/14242-490 chaqueta alforzada (2).jpg" class="img-fluid rounded-start" alt="21-sep-1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Ambo Tencel EcoFlex de Mujer – Art 11019</h5>
                                        <p class="card-text price">$108.000</p>
                                        <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos
                                                nacionales $89.256</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">21 Septiembre</span>
                                    <img src="../../../assets/21-Septiembre/603-485-Azul francia .jpg" class="img-fluid rounded-start" alt="21-sep-2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Ambo Flex Unisex – Art 41004</h5>
                                        <p class="card-text price">$103.500</p>
                                        <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos nacionales $85.537</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- NINA COFIAS -->
                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">Nina Cofias</span>
                                    <img src="../../../assets/Nina-Cofias/4aec24a1fc08c16334242143c2f322f03b6abb8040491a9112ba48e520d2719c43562.jpg" class="img-fluid rounded-start" alt="Nina-Cofias1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Cofia Nina 1334</h5>
                                        <p class="card-text price">$8.400</p>
                                        <p class="card-text"><small class="text-body-secondary">Precio sin impuestos $6.942,15</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">Nina Cofias</span>
                                    <img src="../../../assets/Nina-Cofias/6d3254be46bdcac484c27c36594035a8127136d0ab74ecc9647153ba391a3d9743562.jpg" class="img-fluid rounded-start" alt="Nina-Cofias2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Cofia Nina</h5>
                                        <p class="card-text price">$8.400</p>
                                        <p class="card-text"><small class="text-body-secondary">Precio sin impuestos $6.942,15</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- UNAMBOS -->
                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">UNAMBOS</span>
                                    <img src="../../../assets/UNAMBOS/1AC5FB34-76DA-4F0F-A67F-2814955D54AB.jpg" class="img-fluid rounded-start" alt="UNAMBOS-1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Ambo Skin Flex de Mujer – Art 11020</h5>
                                        <p class="card-text price">$99.000</p>
                                        <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos
                                                nacionales $81.818</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 mb-4">
                        <div class="card product-card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="promo-tag">UNAMBOS</span>
                                    <img src="../../../assets/UNAMBOS/1AFC96F8-CA42-44B1-8BD9-3AF00C137974.jpg" class="img-fluid rounded-start" alt="UNAMBOS-2">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Ambo Tencel EcoFlex de Mujer – Art 11019</h5>
                                        <p class="card-text price">$108.000</p>
                                        <p class="card-text"><small class="text-body-secondary">*Precio sin impuestos
                                                nacionales $89.256</small></p>
                                        <a href="#" class="btn btn-primary">Comprar</a>
                                        <p></p>
                                        <a href="#" class="btn btn-primary mt-2">Carrito</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</body>