<body>
  <h4 class="text-center fw-bold fs-2 mt-4 mb-4">
    ¡LÍNEAS CON LAS QUE TRABAJAMOS!
  </h4>

  <!--BANNERS PRINCIPALES DE MARCAS-->
  <section class="banner-principal position-relative">
    <img src="../../../assets/Carrousel/banner-evolucion-ambos-21-1-1780x599.jpg" alt="Banner principal BCS"
      class="img-fluid w-100 banner-img">
  </section>
  <section class="banner-principal position-relative">
    <img src="../../../assets/Nina-Cofias/banner-nina-cofiass.jpg" alt="Banner Nina Cofias"
      class="img-fluid w-100 banner-img">
  </section>
  <section class="banner-principal position-relative">
    <img src="../../../assets/UNAMBOS/banner-unambo.jpg" alt="Banner UNAMBO" class="img-fluid w-100 banner-img">
  </section>
  <footer class="footer mt-4 py-2 bg-light border-top">
    <div class="container d-flex justify-content-between align-items-center">
      <p class="text-muted small mb-0">
        © 2025 - BCS Ambos Indumentaria - Todos los derechos reservados
      </p>

      <div class="d-flex gap-2">
        <!-- WhatsApp -->
        <a href="https://wa.me/5492995357279" target="_blank" class="social-icon">
          <i class="bi bi-whatsapp"></i>
        </a>

        <!-- Facebook -->
        <a href="https://web.facebook.com/people/BCS-AMBOS-indumentaria/61558618131265/" target="_blank"
          class="social-icon">
          <i class="bi bi-facebook"></i>
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/bcsbel" target="_blank" class="social-icon">
          <i class="bi bi-instagram"></i>
        </a>

        <!-- Botón de arrepentimiento -->
        <a href="/boton-arrepentimiento" class="btn btn-outline-secondary btn-sm fw-semibold">Botón de
          Arrepentimiento</a>
      </div>
    </div>
  </footer>
</body>