<!-- Carousel -->


<h4 class="text-center fw-bold fs-2 mt-4 mb-4">
  ¡LÍNEAS CON LAS QUE TRABAJAMOS!
</h4>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../assets/Carrousel/banner-evolucion-ambos-21-1-1780x599.jpg" 
        alt="Banner principal BCS">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../assets/Nina-Cofias/banner-nina-cofiass.jpg"  alt="Banner Nina Cofias">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/UNAMBOS/banner-unambo.jpg" alt="Banner UNAMBO">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>