body {
    background-color: #f8f9fa;
}

/* Sidebar */
.filter-sidebar {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.95rem;
}

.filter-sidebar h6 {
    font-weight: 600;
    margin-top: 20px;
}

.color-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Tarjetas de productos */
.product-card {
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #fff;
    justify-content: center;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.product-card img {
    width: 30rem;
    height: 20rem;
    object-fit: contain;
}

.product-info {
    padding: 15px;
}

.product-title {
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 5px;
}

.product-price {
    color: #0a0;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
    margin-right: 5px;
}

.promo-tag {
    background-color: #e30613;
    color: #fff;
    font-size: 0.8rem;
    padding: 3px 10px;
    border-radius: 0 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.color-options {
    display: flex;
    margin-top: 10px;
}