/* Alinear las tarjetas a la derecha */
.row.justify-content-end {
  justify-content: flex-end;
}

/* Espaciado y estética general */
.product-card {
  max-width: 540px;
  margin-left: auto;
  /* las empuja hacia la derecha */
}

/* Precio verde */
.price {
  color: #28a745;
  font-weight: bold;
}

/* Boton rojo al pasar el cursor */
.btn-primary {
  background-color: #F5AFB9;
  /* azul estándar Bootstrap */
  border-color: #F5AFB9;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #510822;
  /* rojo al hacer hover */
  border-color: #510822;
}

/* Mejor apariencia de imágenes */
.card img {
  object-fit: cover;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;
}