<!-- NINA COFIAS -->
<div class="col-md-6 col-lg-5 mb-4">
    <div class="card product-card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/Nina-Cofias/4aec24a1fc08c16334242143c2f322f03b6abb8040491a9112ba48e520d2719c43562.jpg" class="img-fluid rounded-start" alt="Nina-Cofias1">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span class="promo-tag">Nina Cofias</span>
                    <h5 class="card-title">Cofia Nina 1334</h5>
                    <p class="card-text price">$8.400</p>
                    <p class="card-text"><small class="text-body-secondary">Precio sin impuestos $6.942,15</small></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <p></p>
                    <a href="#" class="btn btn-primary mt-2">Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-5 mb-4">
    <div class="card product-card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../assets/Nina-Cofias/6d3254be46bdcac484c27c36594035a8127136d0ab74ecc9647153ba391a3d9743562.jpg" class="img-fluid rounded-start" alt="Nina-Cofias2">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span class="promo-tag">Nina Cofias</span>
                    <h5 class="card-title">Cofia Nina 1335</h5>
                    <p class="card-text price">$8.400</p>
                    <p class="card-text"><small class="text-body-secondary">Precio sin impuestos $6.942,15</small></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <p></p>
                    <a href="#" class="btn btn-primary mt-2">Carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>