<i class="bi bi-person fs-4" title="Iniciar sesión"></i>

<i class="bi bi-cart3 fs-4 position-relative" title="Carrito">
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        <span class="visually-hidden">productos en el carrito</span>
    </span>
</i>

<footer class="footer mt-4 py-2 bg-light border-top">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="text-muted small mb-0">
            © 2025 - BCS Ambos Indumentaria - Todos los derechos reservados
        </p>

        <div class="d-flex gap-2">
            <!-- WhatsApp -->
            <a href="https://wa.me/5492995357279" target="_blank" class="social-icon">
                <i class="bi bi-whatsapp"></i>
            </a>

            <!-- Facebook -->
            <a href="https://web.facebook.com/people/BCS-AMBOS-indumentaria/61558618131265/" target="_blank"
                class="social-icon">
                <i class="bi bi-facebook"></i>
            </a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/bcsbel" target="_blank" class="social-icon">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </div>
</footer>