<div class="contactos-container">

    <h2>FORMULARIO</h2>
    <h6>(* Es obligatorio)</h6>

    <!-- Campo obligatorio -->

    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="row">
            <div class="col">
                <input name="correo" ngModel required placeholder="Correo*" type="email">
            </div>
            <div class="col">
                <input name="nombre" ngModel required placeholder="Nombre*" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input name="apellido" ngModel required placeholder="Apellido*" type="text">
            </div>
            <div class="col">
                <input name="localidad" ngModel required placeholder="Localidad*" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input name="provincia" ngModel required placeholder="Provincia*" type="text">
            </div>
            <div class="col">
                <input name="celular" ngModel required placeholder="Celular*" type="tel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select name="tipoCliente" ngModel required>
                    <option value="">Tipo de Cliente*</option>
                    <option value="empresa">Empresa</option>
                    <option value="particular">Particular</option>
                </select>
            </div>
            <div class="col">
                <input name="numeroPedido" ngModel placeholder="Número de pedido" type="text">
            </div>
        </div>
        <div class="row full-width">
            <textarea name="mensaje" ngModel required placeholder="Mensaje*"></textarea>
        </div>

        <!-- Se habilita boton "enviar" una vez que se complete el formulario -->

        <button type="submit" [disabled]="!contactForm.valid">Enviar</button>
    </form>
</div>