<div class="login-container">

  <h1>Iniciar sesión</h1>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
    <div class="form-group">
      
        <label for="email">Email</label>
        <input id="email" name="email" type="email" [(ngModel)]="model.email" required placeholder="">
    
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <div class="password-wrapper">
        
        <input id="password" name="password" type="{{ hidePassword ? 'password' : 'text' }}" [(ngModel)]="model.password" required placeholder="">

        <button type="button" class="toggle-pw" (click)="togglePassword()">👁</button>
      </div>
    </div>

    <button type="submit" class="btn-primary" [disabled]="!loginForm.valid">Iniciar sesión</button>

  </form>
</div>


<footer class="footer mt-4 py-2 bg-light border-top">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="text-muted small mb-0">
            © 2025 - BCS Ambos Indumentaria - Todos los derechos reservados
        </p>

        <div class="d-flex gap-2">
            <!-- WhatsApp -->
            <a href="https://wa.me/5492995357279" target="_blank" class="social-icon">
                <i class="bi bi-whatsapp"></i>
            </a>

            <!-- Facebook -->
            <a href="https://web.facebook.com/people/BCS-AMBOS-indumentaria/61558618131265/" target="_blank" class="social-icon">
                <i class="bi bi-facebook"></i>
            </a>

            <!-- Instagram -->
            <a href="https://www.instagram.com/bcsbel" target="_blank" class="social-icon">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </div>
</footer>